*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #dddddd;
}


.header{
    background-color: #ffffff;
    height: 130px;
    width: auto;
    margin: 20px 10px 0px 10px;
    border-radius: 5px;
}
#title{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}
.inner-header p{
    text-align: center;
    padding-top: 20px;
    font-size: 23px;
}
#image-div #image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    min-width: 1000px;
    height: auto;
}
#image-caption{
    font-size: 20px;
    text-align: center;
    position:relative;
    top: 5px;
}
#tribute-info {
    width: 700px;
    margin: 50px auto 0px auto;
    text-align: left;
    font-size: 20px;
}
#tribute-info ul li{
    padding-bottom: 15px;
}
#tribute-info-heading{
    text-align: center;
    padding-bottom: 60px;
    font-size: larger;
}
.footer{
    background-color: #ffffff;
    height: 130px;
    width: auto;
    margin: 20px 10px 0px 10px;
    border-radius: 5px;
}
.inner-footer p{
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
.inner-footer a{
    text-decoration: none;
    color: #0a8de4;
}